body {
    background-color: rgb(255, 255, 255);
    background-image: url(háttér.jpg);
}

.content {
    background-color: rgb(206, 255, 255);
    border: 2px solid rgb(255, 204, 204);
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 0px;
    margin-top: 0px;
    transition: 1s;
}

.box1:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

.box2 {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    transition: 1s;
}
.box2:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}
.box3 {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 0px;
    margin-top: 0px;
    transition: 1s;
}

.box3:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

.box4 {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    transition: 1s;
}
.box4:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}
img {
    width: 300px;
   
}
p
{
    text-align: center;
}